<mat-toolbar>
  <mat-toolbar-row>
    <span>{{reportConfig.name}}</span>
    <span style="margin: 16px;"></span>
    <span>{{reportConfig.description}}</span>
    <span style="margin: 32px;"></span>
    <mat-chip-list>
      <mat-chip *ngFor="let perm of permissions" [selected]="perm.owner">
        {{perm.name}}
        <mat-icon matChipRemove *ngIf="reportOwner && perm.scope !== 'Owner'" (click)="removePermission(perm)">cancel
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
    <span style="margin: 16px;"></span>
    <button mat-icon-button *ngIf="reportOwner">
      <mat-icon (click)="addPermission()">share</mat-icon>
    </button>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
