<mat-accordion>

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Call Recordings </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/recordings/search" routerLinkActive="active-link">Search</a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Reports </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/reports/cdr" routerLinkActive="active-link">Cdr</a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Datasets </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="/datasets" routerLinkActive="active-link">List</a>
    </mat-nav-list>
  </mat-expansion-panel>


</mat-accordion>
