<table mat-table [ngClass]="{'full-width-table': true}" [dataSource]="values">
  <ng-container matColumnDef="name">
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="value">
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>
  <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
</table>

<div style="margin: 32px;"></div>

<ngx-audio-player [playlist]="playlist" [autoPlay]="true" [displayTitle]="false" [displayPlaylist]="false"
  [expanded]="false" [displayVolumeControls]="true" [displayRepeatControls]="false" [displayArtist]="false"
  [displayDuration]="false" [disablePositionSlider]="false" muted="muted" (trackEnded)="onEnded($event)">
</ngx-audio-player>

<span *ngIf="!hasFile">Downloading audio ...</span>
