<div fxLayout="column" fxFlexFill>
  <mat-toolbar fxFlex="nogrow" color="primary" fxLayout="row">
    <img fxFlex="45px" src="assets/logo-old.png" alt="Xema">
    <span fxFlex="32px"></span>
    <span fxFlex>Data Portal</span>
    <span fxFlex></span>
    <app-logout-control fxFlex="250px"></app-logout-control>
  </mat-toolbar>

  <mat-drawer-container fxFlex>
    <mat-drawer mode="side" opened>
      <app-left-menu></app-left-menu>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
