/* You can add global styles to this file, and also import other style files */

@import './assets/material-icon-fonts/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wallpaper {
  background: url('assets/bg2.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.agent-image {
  background-image: url('assets/female-agent1.jpg');
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}

.full-width-table {
  width: 100%;
}


.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 14px;
  min-width: auto;
}

.excel{
    padding-top: 10px !important;
    margin-left: -5px im !important;
}