<mat-toolbar>
  <mat-toolbar-row class="toolbar-row">
    <span>Search & Download Call Recordings</span>
    <span class="spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <form autocomplete="off" [formGroup]="searchForm">
      <small fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="start center">
        <mat-form-field fxFlex="10">
          <input matInput placeholder="ANI (Caller)" formControlName="originNumber">
        </mat-form-field>
        <mat-form-field fxFlex="10">
          <input matInput placeholder="DNI" formControlName="dialledNumber">
        </mat-form-field>
        <mat-form-field fxFlex="7">
          <input matInput placeholder="Agent Id" formControlName="agentId">
        </mat-form-field>
        <mat-form-field fxFlex="7">
          <input matInput placeholder="Phone Id" formControlName="phoneId">
        </mat-form-field>
        <mat-form-field fxFlex="12">
          <input matInput [matDatepicker]="from" (focus)="from.open()" placeholder="From Date"
            formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>
        <button fxFlex="10" mat-flat-button color="primary" type="submit" (click)="fetchData()"
          [disabled]="!searchForm.valid || !searchForm.touched">Search</button>
      </small>
    </form>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="row" fxLayoutGap="32px">
    <span fxFlex>Search Results</span>
    <span fxFlex></span>
    <small fxFlex="200px">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="ANI, DNI, Agent Id, Phone Id etc." (keyup)="applyFilter($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </small>
    <mat-paginator fxFlex="400px" #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <table mat-table class="full-width-table" matSort [dataSource]="dataSource">

    <ng-container matColumnDef="originNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ANI</th>
      <td mat-cell *matCellDef="let row">{{row.originNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="dialledNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
      <td mat-cell *matCellDef="let row">{{row.dialledNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="agentId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Id</th>
      <td mat-cell *matCellDef="let row">{{row.agentId}}</td>
    </ng-container>

    <ng-container matColumnDef="phoneId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Id</th>
      <td mat-cell *matCellDef="let row">{{row.phoneId}}</td>
    </ng-container>

    <ng-container matColumnDef="startTimestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
      <td mat-cell *matCellDef="let row">{{row.startTimestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
    </ng-container>

    <ng-container matColumnDef="totalTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Time</th>
      <td mat-cell *matCellDef="let row">{{row.totalTime}}</td>
    </ng-container>

    <ng-container matColumnDef="agentTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Time</th>
      <td mat-cell *matCellDef="let row">{{row.agentTime}}</td>
    </ng-container>

    <ng-container matColumnDef="recorded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Recording
      </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.recorded">
          <mat-icon style="cursor: pointer; margin-right: 24px;" (click)="downloadFile(row)" matSuffix>
            file_download</mat-icon>
          <mat-icon style="cursor: pointer;" (click)="playbackFile(row)" matSuffix>play_arrow</mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
